{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <br>
<h1>Listado de Productos registrados</h1>
    <br>
    <div class="row col-12 justify-content-end mb-2 pr-0">
        <a class="btn btn-success" href="{% url 'registrarcategoria' %}">Agregar nuevo Producto</a>
    </div>
    {% if mensaje %}
            <div class="alert alert-danger" role="alert">
              Producto eliminado exitosamente
            </div>
        {% endif %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
            <th scope="col"># ID</th>
            <th scope="col">Producto</th>
            <th scope="col">Marca</th>
            <th scope="col">Categoria</th>
            <th scope="col">Fecha de ingreso</th>
            <th scope="col">Existencias</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
      {% for productos in producto %}
        <tr>
            <th scope="row">{{ productos.id }}</th>
            <td>{{ productos.producto }}</td>
            <td>{{ productos.marca }}</td>
            <td>{{ productos.categoria }}</td>
            <td>{{ productos.fechaingreso }}</td>
            <td>{{ productos.existencias }}</td>
            <td><a class="btn btn-warning" href="{% url 'editarproducto' productos.id %}">Editar</a></td>
            <td><a class="btn btn-danger" href="{% url 'eliminarproducto' productos.id %}">Eliminar</a></td>
        </tr>
      {% endfor %}
      </tbody>
</table>

{% endblock %}