{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            Error al guardar formulario
        </div>
    {% endif %}

    <h1>Actualizacion de Producto</h1>

    <form class="container" action="{% url 'actualizarproducto' producto.id %}" method="POST" >
        {% csrf_token %}

        {% if mensaje %}
            <div class="alert alert-success" role="alert">
              Producto actualizado exitosamente
            </div>
        {% endif %}

        {{ form|crispy }}

        <button type="submit" class="btn btn-primary">Actualizar registro</button>
        <a class="btn btn-warning" href="{% url 'datosproducto' %}">Cancelar</a>
    </form>

{% endblock %}