{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <br>
<h1>Listado de Marcas registradas</h1>
    <br>
    <div class="row col-12 justify-content-end mb-2 pr-0">
        <a class="btn btn-success" href="{% url 'registrarM' %}">Agregar nueva Marca</a>
    </div>
    {% if mensaje %}
            <div class="alert alert-danger" role="alert">
              Marca eliminada exitosamente
            </div>
    {% endif %}

    <table class="table">
      <thead class="thead-dark">
        <tr>
            <th scope="col"># ID</th>
            <th scope="col">Marca</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
      {% for marca in marcas %}
        <tr>
            <th scope="row">{{ marca.id }}</th>
            <td>{{ marca.descripcion_marca }}</td>
            <td><a class="btn btn-warning" href="{% url 'editarM' marca.id %}">Editar</a></td>
            <td><a class="btn btn-danger" href="{% url 'eliminarM' marca.id %}">Eliminar</a></td>
        </tr>
      {% endfor %}
      </tbody>
</table>

{% endblock %}